section#certificates > p {
    font-size: larger;
    margin: 1em 0;
}

section#certificates ul {
    display: flex;
    height: fit-content;
}

section#certificates ul embed {
    flex: 1;
    height: 28em;
    width: 100%;
}

section#certificates ul li {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}