header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96vw;

    padding: 1em;
    position: fixed;
    background-color: white;

    border-radius: 0 0 8px 8px;
    z-index: 1;
}

header > h2 {
    margin-left: 1em;
}

nav a {
    color: white;
    margin: 0.5em;
    background-color: #1982C4;
    padding: 1em 1.4em;
    border-radius: 2px;
}